In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Film_Permits.csv')
df.dtypes

EventID               int64
EventType            object
StartDateTime        object
EndDateTime          object
EnteredOn            object
EventAgency          object
ParkingHeld          object
Borough              object
CommunityBoard(s)    object
PolicePrecinct(s)    object
Category             object
SubCategoryName      object
Country              object
ZipCode(s)           object
dtype: object

Here, I am viewing the data types of my new dataframe.

In [3]:
df['StartDateTime'] = pd.to_datetime(df['StartDateTime'])
df['EndDateTime'] = pd.to_datetime(df['EndDateTime'])
df = df.sort_values(by='StartDateTime')
df = df.drop(columns=["ZipCode(s)", "EnteredOn", "EventAgency", "ParkingHeld","CommunityBoard(s)", "PolicePrecinct(s)", "Country", "EventID"])

/var/folders/7t/y824w4qx4hn59wfbz7sntshr0000gn/T/ipykernel_8191/3728984276.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['EndDateTime'] = pd.to_datetime(df['EndDateTime'])

Here, I converted the string objects of two columns to data.time format, so that I could sort the df by one of those columns. 
I then dropped some unnecessary columns (ones I wouldn't be analyzing).

In [4]:
df.tail(5)

,EventType,StartDateTime,EndDateTime,Borough,Category,SubCategoryName
13288,Shooting Permit,2023-01-20 10:00:00,2023-01-20 23:00:00,Queens,Television,Episodic series
12779,Shooting Permit,2023-01-20 11:30:00,2023-01-21 01:00:00,Manhattan,Television,Episodic series
11060,Shooting Permit,2023-01-20 12:00:00,2023-01-21 02:00:00,Queens,Television,Episodic series
13451,Shooting Permit,2023-01-20 12:00:00,2023-01-20 23:00:00,Manhattan,Television,Episodic series
13500,Shooting Permit,2023-01-20 13:00:00,2023-01-21 03:00:00,Manhattan,Television,Cable-episodic

In [5]:
df_Borough = df.drop(columns=["StartDateTime", "EventType", "EndDateTime", "Category", "SubCategoryName"])

Here, I dropped additional columns so that I could just have the Boroughs listed. So that I could get the value counts and then create a new csv with this data. I would then use this csv to create my first chart in DataWrapper.

In [6]:
df_Borough = df_Borough.Borough.value_counts()

In [7]:
df_Borough.to_csv("DataBoroughs.csv")

In [8]:
df.dtypes

EventType                  object
StartDateTime      datetime64[ns]
EndDateTime        datetime64[ns]
Borough                    object
Category                   object
SubCategoryName            object
dtype: object

In [9]:
df_months = df.drop(columns=["EndDateTime", "SubCategoryName", "EventType", "Category", "Borough"])
df_months

            StartDateTime
2320  2021-01-04 00:01:00
2321  2021-01-04 06:00:00
2322  2021-01-04 06:30:00
2319  2021-01-04 07:00:00
2323  2021-01-04 07:00:00
...                   ...
13288 2023-01-20 10:00:00
12779 2023-01-20 11:30:00
11060 2023-01-20 12:00:00
13451 2023-01-20 12:00:00
13500 2023-01-20 13:00:00

[13630 rows x 1 columns]

Here, I created a new df and then dropped all columns from it except for the StartDateTime.

In [10]:
df_months['Month_Year'] = df_months['StartDateTime'].dt.to_period('M')
df_months = df_months.drop(columns=['StartDateTime'])
print(df_months)

      Month_Year
2320     2021-01
2321     2021-01
2322     2021-01
2319     2021-01
2323     2021-01
...          ...
13288    2023-01
12779    2023-01
11060    2023-01
13451    2023-01
13500    2023-01

[13630 rows x 1 columns]

Here, I dropped the day in the date.time format so that I could just have the months and the years.

In [11]:
df_months = df_months.value_counts()

In [12]:
df_months.to_csv('bymonth.csv')

This newly created df, of the value counts of df_months, was used for my second chart in DataWrapper.