In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Film_Permits.csv')
df.dtypes

EventID               int64
EventType            object
StartDateTime        object
EndDateTime          object
EnteredOn            object
EventAgency          object
ParkingHeld          object
Borough              object
CommunityBoard(s)    object
PolicePrecinct(s)    object
Category             object
SubCategoryName      object
Country              object
ZipCode(s)           object
dtype: object

In [4]:
df['StartDateTime'] = pd.to_datetime(df['StartDateTime'])
df['EndDateTime'] = pd.to_datetime(df['EndDateTime'])
df = df.sort_values(by='StartDateTime')
df = df.drop(columns=["ZipCode(s)", "EnteredOn", "EventAgency", "ParkingHeld","CommunityBoard(s)", "PolicePrecinct(s)", "Country", "EventID"])

/var/folders/7t/y824w4qx4hn59wfbz7sntshr0000gn/T/ipykernel_18693/3728984276.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['EndDateTime'] = pd.to_datetime(df['EndDateTime'])

In [34]:
df.tail(5)

,EventType,StartDateTime,EndDateTime,Borough,Category,SubCategoryName
13288,Shooting Permit,2023-01-20 10:00:00,2023-01-20 23:00:00,Queens,Television,Episodic series
12779,Shooting Permit,2023-01-20 11:30:00,2023-01-21 01:00:00,Manhattan,Television,Episodic series
11060,Shooting Permit,2023-01-20 12:00:00,2023-01-21 02:00:00,Queens,Television,Episodic series
13451,Shooting Permit,2023-01-20 12:00:00,2023-01-20 23:00:00,Manhattan,Television,Episodic series
13500,Shooting Permit,2023-01-20 13:00:00,2023-01-21 03:00:00,Manhattan,Television,Cable-episodic

In [6]:
df_Borough = df.drop(columns=["StartDateTime", "EventType", "EndDateTime", "Category", "SubCategoryName"])

In [7]:
df_Borough = df_Borough.Borough.value_counts()

In [8]:
df_Borough.to_csv("DataBoroughs.csv")

In [29]:
df_sub= df.drop(columns=["StartDateTime", "EventType", "EndDateTime", "Category", "Borough"])

In [30]:
df_sub = df_sub.value_counts()

In [32]:
df_sub.to_csv("sub.csv")

In [33]:
df.dtypes

EventType                  object
StartDateTime      datetime64[ns]
EndDateTime        datetime64[ns]
Borough                    object
Category                   object
SubCategoryName            object
dtype: object